!!!
%html{lang: "en"}
  %head
    %meta{charset: "utf-8"}/
    %meta{content: "IE=edge", "http-equi":"X-UA-Compatible"}/
    %meta{content: "width=device-width, initial-scale=1", name: "viewport"}/
    %meta{content: "", name: "description"}/
    %meta{content: "", name: "author"}/
    %title
      = BLOG_NAME
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-trac': true
    = javascript_include_tag 'application', 'data-turbolinks-trac': true
    = csrf_meta_tags
  %body{style: "margin: 60px auto;"}
    %nav.navbar.navbar-inverse.navbar-fixed-top{role: "navigation"}
      .container
        .navbar-header
          = link_to BLOG_NAME, '/admin', class: "navbar-brand"
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          %ul.nav.navbar-nav
            %li
              = link_to 'Posts', '/admin'
          %ul.nav.navbar-nav.navbar-right
            %li
              = link_to 'My Blog', root_url
            %li
              = link_to 'Edit account', edit_user_registration_path
            %li
              = link_to 'Logout', destroy_user_session_path, method: :delete
    .container
      - if notice.present?
        .alert.alert-info
          = notice
      - if alert.present?
        .alert.alert-danger
          = alert
      = yield

      %hr/
      %footer
        .row
          .col-lg-12
            %p Copyright © #{BLOG_NAME}
