= link_to 'New Post', new_post_path, class: 'btn btn-primary pull-right h1'
%h1 Posts

%section.search-form
  = form_tag list_posts_path, role: 'search', method: :get do |f|
    .input-group.input-group-md
      = text_field_tag :q, params[:q], class: 'form-control input-md', placeholder: 'Search'
      %span.input-group-btn
        = submit_tag 'Search', class: 'btn btn-primary btn-md'

%hr

%section.search-results
  %ol.list-group
    - @posts.each do |post|
      %li.list-group-item.clearfix
        %h3.pull-right
          %small.text-uppercase
            Created #{post.created_at}
        %h2.h3
          = post.title
        .pull-right
          = link_to 'Edit', edit_post_path(post), class: 'btn btn-primary btn-sm'
          = link_to 'Delete', post_path(post), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm'
        %h4
          = post.user.email
