!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %meta{:content => "", :name => "description"}/
    %meta{:content => "", :name => "author"}/
    %title Blog
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    .container
      = form_tag posts_path, class: 'form-inline pull-right', role: 'search', method: :get do |f|
        .form-group
          = text_field_tag :q, params[:q], clasas: 'form-control'
        = button_tag "Search", class: 'btn btn-default', name: nil
      %h1
        = link_to "Blog Name", root_url
      %br
      = yield

      %hr/
      %footer
        .row
          .col-lg-12
            %p Copyright © Blog
