!!!
%html{lang: "en"}
  %head
    %meta{charset: "utf-8"}/
    %meta{content: "IE=edge", "http-equi":"X-UA-Compatible"}/
    %meta{content: "width=device-width, initial-scale=1", name: "viewport"}/
    %meta{content: "", name: "description"}/
    %meta{content: "", name: "author"}/
    = favicon_link_tag 'rails.png'
    %title
      = BLOG_NAME
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-trac': true
    = javascript_include_tag 'application', 'data-turbolinks-trac': true
    = csrf_meta_tags
    %link{href: "http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800", rel: "stylesheet", type: "text/css"}/
    %link{href: "http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic", rel: "stylesheet", type: "text/css"}/
  %body
    / Navigation
    %nav.navbar.navbar-default.navbar-custom.navbar-fixed-top
      .container-fluid
        / Brand and toggle get grouped for better mobile display
        .navbar-header.page-scroll
          %button.navbar-toggle{"data-targe":"#bs-example-navbar-collapse-1", "data-toggl":"collapse", type: "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          = link_to BLOG_NAME, root_url, class: 'navbar-brand'
        / Collect the nav links, forms, and other content for toggling
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          %ul.nav.navbar-nav.navbar-right
            %li
              %a{href: "#"} About
            %li
              %a{href: "#"} Contact
        / /.navbar-collapse
      / /.container
    / Page Header
    / Set your background image for this header on the line below.
    %header.intro-header{style: "background-image: url('#{image_path 'home-bg.jpg'}')"}
      .container
        .row
          .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
            .post-heading
              %h1
                = @post.title
              %h2.subheading
                = @post.subtitle
              %span.meta
                = @post.created_at
    / Main Content
    .container
      .row
        .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
          = yield
    %hr
      / Footer
      %footer
        .container
          .row
            .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
              %ul.list-inline.text-center
                %li
                  %a{href: "#"}
                    %span.fa-stack.fa-lg
                      %i.fa.fa-circle.fa-stack-2x
                      %i.fa.fa-twitter.fa-stack-1x.fa-inverse
                %li
                  %a{href: "#"}
                    %span.fa-stack.fa-lg
                      %i.fa.fa-circle.fa-stack-2x
                      %i.fa.fa-facebook.fa-stack-1x.fa-inverse
                %li
                  %a{href: "#"}
                    %span.fa-stack.fa-lg
                      %i.fa.fa-circle.fa-stack-2x
                      %i.fa.fa-github.fa-stack-1x.fa-inverse
              %p.copyright.text-muted Copyright &copy; Your Website 2014
